*.xcframework filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
# *.mlmodel files are downloaded from Apple CDN at runtime, not stored in Git
